.about-wrapper {
  .about-container {
    display: grid;
    grid-template-columns: repeat(3, 80px) repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(5, auto);

    @include mobile {
      display: flex;
      flex-direction: column;
    }

    .text-component-container:nth-child(1) {
      grid-column-start: 1;
    }
    .text-component-container:nth-child(2) {
      margin-top: 50px;
      grid-column-start: 2;
      grid-row-start: 2;
    }
    .learning-wrapper {
      position: relative;
      width: 300px;
      margin-top: 50px;
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 3;
      text-align: center;
      z-index: 1;

      @include mobile {
        margin-left: auto;
        margin-right: auto;
      }
      .image-container {
        width: 70%;
        margin: 10px auto;
        padding: 5px;
        background-color: $color4;

        .learning-image {
          width: 100%;
          display: block;
        }
      }
      .learning-footer {
        font-size: $body-text1;
        color: $color1;
        text-shadow: 0px 2px 2px $box-shadow-color;
      }
      .cogs-image-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.25;

        .cogs-image {
          position: absolute;
          width: 70%;
          height: 70%;
          animation-name: cogs-animation;
          animation-duration: 30s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;

          &:nth-child(1) {
            top: 0;
            left: -5%;
            width: 65%;
            height: 65%;
          }
          &:nth-child(2) {
            top: 58%;
            left: 20%;
            width: 60%;
            height: 60%;
            animation-direction: reverse;
          }
          &:nth-child(3) {
            top: 6%;
            right: -18%;
          }
        }
      }
    }
    .map-wrapper {
      grid-column-start: 7;
      grid-row-start: 1;
      grid-row-end: 3;
      justify-self: end;
    }
    @import './map/map.scss';

    .page-highlight-caption {
      grid-column-start: 7;
      grid-column-end: 6;
      grid-row-start: 3;
      grid-row-end: 5;
      background-color: $color1;
      height: 120px;
      width: 300%;
      display: flex;
      align-items: center;
      text-align: right;
      border-radius: 4px;
      box-shadow: -5px 5px 5px $box-shadow-color;

      @include mobile {
        width: 100vw;
        margin: 0 -$mobilePadding;
        margin-bottom: 30px;
        text-align: center;
      }

      .body-text {
        margin-left: 50px;
        font-size: $banner-body-text-2;
        font-weight: 500;

        @include mobile {
          font-size: $mobile-banner-body-text-2;
          margin: auto;

        }
      }

    }
  }

  @include keyframes(cogs-animation) {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
  }
}
