$desktop: 980px;
$desktop-width: 1290px;

$mobilePadding: 20px;
// $bg1: linear-gradient(to right, #2B809A 40%, #499DB7);
// $bg1: linear-gradient(to right, #1341bb 60%, #0A74D1);
// $bg1: linear-gradient(to right, #1b2343 60%, #1f2540);
// $bg1: linear-gradient(to right, #222e5d  60%, #283569);
// $bg1: linear-gradient(to right, #1544c0 60%, #1f4abd);
$bg1: linear-gradient(to bottom, #1544c0 10%, #335ac7);
$bg1Solid: #1544c0;
// $bg2: #85CDCA;
// $bg2: #85CFE5;
$bg2: #001D6E;
$bg2: #071640;

$color1: #ED7300;
$color1: #F27702;
$color2: #0d75d1;
$color3: #0D78D6;
$color4: #ffffff21;

$font1: #F6F6F6;

$header-size-1: 3.5rem;
$header-size-2: 2rem;

$mobile-header-size-1: 2.5rem;
$mobile-header-size-2: 1.5rem;

$body-text1: 1.2rem;
$banner-body-text: 1.3rem;
$banner-body-text-2: 1.8rem;

$body-text1-mobile: 1rem;
$mobile-banner-body-text: 1rem;
$mobile-banner-body-text-2: 1.3rem;

$box-shadow-color: rgba(0, 0, 0, 0.3);
