@import '../static/variables.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,500,600,700,800');


* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

p, a, h1, h2, h3, h4, h5 {
  color: $font1;
}

.App {
  overflow: hidden;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: $color1;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: $color2;
}

.flex-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

  .width-limiter-container {
    margin: 80px auto;
    width: 100%;
    max-width: $desktop-width;
  }
}

.banner-wrapper {
  position: relative;
  width: 100%;
  background-color: $bg2;
  padding: 40px 20px;
  box-shadow: 0 3px 2px $box-shadow-color;
  text-align: center;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    box-shadow: 0 -3px 2px $box-shadow-color;
  }

  .banner-header {
    font-size: 2.6rem;
    font-weight: 500;
    margin-bottom: 15px;
  }

  .banner-body-text {
    // text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    font-size: $body-text1;
    font-weight: 400;
    white-space: pre-line;

    span {
      font-weight: 500;
    }

  }
}

.body-text {
  font-size: $body-text1;
  font-weight: 300;
  white-space: pre-line;
}
