.map-wrapper {
  $map-height: 400px;
  $map-width: 600px;
  height: $map-height;
  width: $map-width;
  .images-container {
    position: relative;
    height: 80%;
    width: 100%;
  }
  .map-svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .plane-orbit {
    position: absolute;
    top: -50px;
    left: (($map-width / 2 )- ($map-height / 2));
    width: $map-height;
    height: $map-height;
    border-radius: 50%;
    animation-name: plane-orbit-animation;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .plane-svg {
    position: absolute;
    height: 150px;
    top: 0;
    transform: rotate(-49deg)
  }
  .text-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    .stats-text {
      font-size: $body-text1;
      span {
        color: $color1;
        font-weight: 500;
      }
      &:nth-child(2) {
        margin-left: 20px;
      }
    }
  }

  @include keyframes(plane-orbit-animation) {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(359deg);
    }
  }
}
