.intro-wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  @include mobile {
    width: 100%;
    padding: 0 $mobilePadding;
  }

  .content-container {
    max-width: $desktop-width;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include mobile {
      width: 100%;
    }
  }
  .text-container {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transform: scale(1.2) translateY(20%); //animated on expand

    @include mobile {
      width: 100%;
      margin: 0;
      transform: scale(1) translateY(0);
    }

    .process-container {
      width: 400px;
      margin-bottom: 35px;

      @include mobile {
        width: 80%;
      }
      .text-wrapper {
        margin-bottom: 8px;
        display: flex;
        font-size: 1.4rem;
        font-weight: 400;
        @include mobile {
          font-size: 1rem;
        }
      }
      .dot {
        height: 5px;
        width: 5px;
        margin: auto 10px;
        border-radius: 50%;
        background-color: $font1;

        @include mobile {
          height: 3px;
          width: 3px;
        }
      }
      hr {
        margin-left: -25px;
      }
    }

    .headers-container {
      $small-header: 2.3rem;
      $small-header-mobile: 1.5rem;
      text-align: right;
      margin-left: 25px;
      @include mobile {
        width:  100%;
        margin: 0;
      }
      .header-1 {
        margin-right: 43px;
        font-size: $small-header;
        font-weight: 600;

        @include mobile {
          margin: 0;
          margin-right: 15px;
          font-size: $small-header-mobile;
        }
      }
      .header-2 {
        margin-right: 20px;
        font-size: $small-header;
        font-weight: 400;
        @include mobile {
          margin: 0;
          margin-right: 10px;
          font-size: $small-header-mobile;
        }
      }
      .header-3 {
        margin-left: -25px;
        margin-top: -10px;
        font-size: 5.2rem;
        font-weight: 800;
        letter-spacing: 1px;
        color: $color1;
        // text-shadow: 2px 3px 1px $color3;

        @include mobile {
          margin: 0;
          font-size: 3.5rem;
          text-align: center;
        }
      }
    }

    .body-container {
      width: 390px;
      @include mobile {
        width: 100%;
      }
      .body-text {
        margin: 20px auto;
      }
      .body-text-2 {
        margin-top: -25px;
      }
      .body-text-2, .body-text-3 {
        opacity: 0; //animated on expand
        transform: translateY(-40%); //animated on expand
      }
      .body-text-3 {
        transform: translateY(-50%); //animated on expand
      }

    }
    .mobile-hero-image-wrapper {
      $size: 150px;
      height: $size;
      width: $size;
      margin: -20px 20px 20px;
      float: right;
      // transform: scale(1.2);
      
      .mobile-hero-image {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid $color1;
      }
    }

    .read-more-btn {
      position: relative;
      display: inline-block;
      color: $color1;
      font-size: $body-text1;
      font-weight: 500;
      background-color: transparent;
      border: none;
      cursor: pointer;
      z-index: 2;
    }
  }

  .hero-image-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include mobile {
      // visibility: hidden;
      height: 350px;
      width: 350px;
      border-radius: 50%;
    }

    .hero-image-container {
      position: relative;
      height: 100%; //animated on expand
      margin-right: 0%; //animated on expand
      overflow: hidden;

      .hero-image {
        height: 100%;
        object-fit: cover;
        filter: contrast(0.9);
      }

      .hero-image-caption {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 15px;
        font-size: 0.8rem;
        white-space: pre-line;
        text-align: right;
        color: rgba(241, 241, 241, 0.82);
        text-shadow: 5px 5px 5px black;
      }
    }
  }

}
